.button {
  background-color: #c7a174;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #0b151c;
  margin: 30px 0;
}

.button:hover {
  background-color: #b08559;
}
