.form {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.form form {
  background-color: #0b151c;
  width: 1121px;
  height: 789px;
  max-width: 80%;
  border-radius: 40px;
  border-style: inherit;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
}
