.time {
  text-align: center;
  padding: 32px;
  background-color: #b09dff;
}

.time h3 {
  font-size: 32px;
  border-bottom: 3px solid #6757c2;
  display: inline-block;
  padding-bottom: 8px;
}

.time .personas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  flex-wrap: nowrap;
}
